* {
    box-sizing:border-box;
    color: white;
}
/* adding fonts */
@font-face {
    font-family: font1;
    src: url(../img/font3.ttf);
}
@font-face {
    font-family: font2;
    src: url(../img/font1.ttf);
}
@font-face {
    font-family: font3;
    src: url(../img/font7.ttf);
}
@font-face {
    font-family: font4;
    src: url(../img/font7.ttf);
}

html { font-size: 62.5%; }
a,b {
    font-family: font2;
}

p, showbig, showsmall {
    padding: 5px 5px;
    color:white;
    font-family: font1;
}

i { 
    text-shadow: 1px 2px 3px darkgray;
} 
body {
        background-color: black;
        font-size: 1em;
    margin: 0;
}

@media (max-width: 300px) {
    html { font-size: 70%;}
    showsmall {display:block;
        font-size: 30px;}
    showbig {display:none;}
    a,b { font-size: 200%;
        padding: 5px 5px;}
    .fa {
            font-size:30px !important;
        }
        #footer {font-size: 18px;}
}

@media (min-width: 300px) {
    html { font-size: 70%;}
    showsmall {display:block;
        font-size: 30px;}
    showbig {display:none;}
    a,b { font-size: 200%;
        padding: 5px 5px;}
    .fa {
            font-size:28px !important;
        }
        #footer {font-size: 22px;}
}

@media (min-width: 400px) {
    html { font-size: 80%;}
    showsmall {display:block;
        font-size: 35px;}
    showbig {display:none;}
    a,b { font-size: 150%;
        padding: 5px 5px;}
    .fa {
            font-size:48px !important;
    }
    #footer {font-size: 25px;}
}

@media (min-width: 600px) {
    html { font-size: 120%;}
    showsmall {display:block;
                font-size: 40px;}
    showbig {display:none;
            font-size: 20px;}    
    a,b { font-size: 110%;
        padding: 7px 7px;}
    p1,h3 {font-size: 65%;}
    .fa {
        font-size:60px !important;
    }
    #footer {font-size: 28px;}
}

@media (min-width: 800px) {
    html { font-size: 180%;}
    .left{ width:45%;}
    .right{ width:45%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size: 30px;}
    a,b { font-size: 70%;
        padding: 10px 11px;}
    p1,h3 {font-size: 70%;}
    .fa {
        font-size:80px !important;
    }
    #footer {font-size: 30px;}
}

@media (min-width: 1000px) {
    html { font-size: 180%;}
    .left{ width:45%;}
    .right{ width:45%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size: 35px;}
    p1,h3 { font-size: 80%;}
    a,b { font-size: 70%;
        padding: 10px 11px;}
    .fa {
            font-size:100px !important;
        }
        #footer {font-size: 35px;}
}
@media (min-width: 1200px) {
    html { font-size: 180%;}
    .left{ width:41%;}
    .right{ width:41%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size:50px;}
    p1,h3 {font-size: 80%;}
    a,b { font-size: 70%;
        padding: 6px 12px;}
    .fa {
            font-size:100px !important;
        }
        #footer {font-size: 35px;}
}

@media (min-width: 1400px) {
    html { font-size: 180%;}
    .left{ width:45%;}
    .right{ width:45%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size:55px;}
    a,b { font-size: 100%;
        padding: 6px 12px;}
    .fa {
            font-size:100px !important;}
    #footer {font-size: 35px;}
}
 
.header {
    background-color: #343a40;
    padding: 30px;
    text-align: center;
}
.header heading{
    text-align: center;
    font-family: font3;
    font-size: 45px;
    color: white; text-shadow: 3px 3px 2px black;
}

#footer {
    background-color: #343a40;
    text-align: center;
    font-family: font2;
    color: #f5f5f5; text-shadow: 0px 1px 2px #f1f1f1;
    height: 100px;
    margin-top: -100px;
    clear: both;
}


#navbar {
    overflow: hidden;
    background-color: #1f1f1f;
}
  
  #navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  #navbar b {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  #navbar a:hover {
    background-color: white;
    color: black;
  }
  
  #navbar a.active {
    background-color: #696969;
    color: white;
  }
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

.left {
    background-color:transparent; 
    padding: 1%;
    float: left;
}  

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.right {
    padding-top: 10%;
    background-color:transparent; 
    float: right;
}
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.rightbutt {
    float: right;
}

.rightup {
    background-color:transparent;
    width: 55%;
    float: right;
    padding-top: 20%;
}

.rightup showbig {
    text-align: center;
}

.leftup {
    background-color:transparent;
    width: 55%;
    float: left;
    padding-top: 15%;
}

.leftup showbig {
    text-align: center;
}


.grow {
    overflow: hidden;
    float:center;
}

.grow2 {
    overflow: show;
    float:center;
}

.grow p {font-family: font4;
        font-size: 70%;
        text-shadow: 0px 1px 2px #f1f1f1;}
.grow p:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}
.grow2 i:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}
.fa-instagram:hover {
    color:#DD2A7B;
    transition: all .3s ease-in-out;
}

.fa-facebook:hover {
    color:#3b5998;
    transition: all .3s ease-in-out;
}
.fa-twitter:hover {
    color:#00acee;
    transition: all .3s ease-in-out;
}
.fa-git:hover {
    color:#211F1F;
    transition: all .3s ease-in-out;
}

.fa-envelope:hover {
    color:#d44638;
    transition: all .3s ease-in-out;
}

.grow2 i {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0%;
}

p1,h3 {
    font-family: font3;
    color: black;
    font-size: 100%;
}


/*
-------------------------------------------------------------------------------------------------------------------------- 
Spinner 
or Pre Loader 
------------------------------------------------------------------------------------------------------------------------------------------- 
*/
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 999999;
}
.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
/* 
---------------------------------------------------------------------------------------------------------------------
closed
Spinner 
or Pre Loader 
------------------------------------------------------------------------------------------------------------------------------------------- 
*/


