* {
    box-sizing:border-box;
    color: white;
}
/* adding fonts */
@font-face {
    font-family: font2;
    src: url(../img/font1.ttf);
}
@font-face {
    font-family: font3;
    src: url(../img/font7.ttf);
}
@font-face {
    font-family: font1;
    src: url(../img/font3.ttf);
}


html { font-size: 62.5%; }
a,b {
    font-family: font2;
}

p, showbig, showsmall {
    padding: 5px 5px;
    color:white;
    font-family: 'Indie Flower', cursive;
}
 
body {
        background-color: black;
        font-size: 1em;
        margin: 0;
}
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Responsive Media Elements 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

@media (max-width: 300px) {
    html { font-size: 70%;}
    showsmall {display:block;
        font-size: 15px;}
    showbig {display:none;}
    a,b { font-size: 200%;
        padding: 5px 5px;}
    .fa {
            font-size:30px !important;
        }
        #footer {font-size: 18px;}
}

@media (min-width: 300px) {
    html { font-size: 70%;}
    showsmall {display:block;
        font-size: 17px;}
    showbig {display:none;}
    a,b { font-size: 200%;
        padding: 5px 5px;}
    .fa {
            font-size:28px !important;
        }
        #footer {font-size: 22px;}
        .grow p { font-size: 40%;}
    }

@media (min-width: 400px) {
    html { font-size: 80%;}
    showsmall {display:block;
        font-size: 20px;}
    showbig {display:none;}
    a,b { font-size: 150%;
        padding: 5px 5px;}
    .fa {
            font-size:48px !important;
    }
    #footer {font-size: 25px;}
    .grow p { font-size: 50%;}
}

@media (min-width: 600px) {
    html { font-size: 120%;}
    showsmall {display:block;
                font-size: 22px;}
    showbig {display:none;
            font-size: 20px;}    
    a,b { font-size: 110%;
        padding: 7px 7px;}
    p1,h3 {font-size: 65%;}
    .fa {
        font-size:60px !important;
    }
    #footer {font-size: 28px;}
    .grow p { font-size: 80%;}
}

@media (min-width: 800px) {
    html { font-size: 180%;}
    .left{ width:45%;}
    .right{ width:45%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size: 23px;}
    a,b { font-size: 70%;
        padding: 10px 11px;}
    p1,h3 {font-size: 70%;}
    .fa {
        font-size:80px !important;
    }
    #footer {font-size: 30px;}
}

@media (min-width: 1000px) {
    html { font-size: 180%;}
    .left{ width:45%;}
    .right{ width:45%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size: 30px;}
    p1,h3 { font-size: 80%;}
    a,b { font-size: 70%;
        padding: 10px 11px;}
    .fa {
            font-size:100px !important;
        }
        #footer {font-size: 35px;}
}
@media (min-width: 1200px) {
    html { font-size: 180%;}
    .left{ width:41%;}
    .right{ width:41%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size:31px;}
    p1,h3 {font-size: 80%;}
    a,b { font-size: 70%;
        padding: 6px 12px;}
    .fa {
            font-size:100px !important;
        }
        #footer {font-size: 35px;}
}

@media (min-width: 1400px) {
    html { font-size: 180%;}
    .left{ width:45%;}
    .right{ width:45%;}
    showsmall {display:none;}
    showbig {display:block;
            font-size:40px;}
    a,b { font-size: 100%;
        padding: 6px 12px;}
    .fa {
            font-size:100px !important;}
    #footer {font-size: 35px;}
}
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Responsive Media Elements 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Header 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/
 
.header {
    padding: 30px;
    background-color: #30353b;
    text-align: center;
}
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Header Closed 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Navbar 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

#navbar {
    overflow: hidden;
    background-image: linear-gradient(0deg, #1f1f1f 0%, #27292c  74%);
}
  
#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
#navbar b {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
#navbar a:hover {
    color: #696969;
}
  
#navbar a.active {
    background-color: #414141;
    color: white;
  }

.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Navbar Closed
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Home page 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

.left {
    background-color:transparent; 
    padding: 1%;
    float: left;
}  

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.right {
    padding-top: 10%;
    background-color:transparent; 
    float: right;
}
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.rightbutt {
    float: right;
}

.rightup {
    background-color:transparent;
    width: 55%;
    float: right;
    padding-top: 20%;
}

.rightup showbig {
    text-align: center;
}

.leftup {
    background-color:transparent;
    width: 55%;
    float: left;
    padding-top: 15%;
}

.leftup showbig {
    text-align: center;
}
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Closed Home page 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Text in card
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

p1{
    font-family: font3;
    color: black;
    font-size: 100%;
}
h3{
    font-family: font3;
    color: #211F1F;
    font-size: 150%;
}
h4{
    font-family: font3;
}

/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Closed Text in card
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/


/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Icons 
Contact icons
Hover animaion
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

.grow {
    overflow: hidden;
    float:center;
}

.grow2 {
    overflow: show;
    float:center;
}

.grow p {
        text-shadow: 0px 1px 2px #f1f1f1;
        font-family: font3;
    }
.grow p:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}
.grow2 i:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}
.fa-instagram:hover {
    color: #d6249f;
    transition: all .3s ease-in-out;
}

.fa-facebook:hover {
    color:#3b5998;
    transition: all .3s ease-in-out;
}
.fa-twitter:hover {
    color:#00acee;
    transition: all .3s ease-in-out;
}
.fa-git:hover {
    color:#211F1F;
    transition: all .3s ease-in-out;
}

.fa-envelope:hover {
    color:#d44638;
    transition: all .3s ease-in-out;
}
i {
    color: #888;
}
.grow2 i {
    color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0%;
    text-shadow: 1px 2px 3px darkgray;
}

/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
closed 
Icons 
Hover
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

/*
-------------------------------------------------------------------------------------------------------------------------- 
Spinner 
or Pre Loader 
------------------------------------------------------------------------------------------------------------------------------------------- 
*/
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 999999;
}
.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
/* 
---------------------------------------------------------------------------------------------------------------------
closed
Spinner 
or Pre Loader 
------------------------------------------------------------------------------------------------------------------------------------------- 
*/
/* 
---------------------------------------------------------------------------------------------------------------------
Animation
------------------------------------------------------------------------------------------------------------------------------------------- 
*/
h1,h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0.3em 0;
  }
  h1 { font-size: 2.5em; }
  h2 {
    color: #888;
    font-size: 1.7em;
  }
/* 
---------------------------------------------------------------------------------------------------------------------
Animation Closed
------------------------------------------------------------------------------------------------------------------------------------------- 
*/

/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Footer
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/

#footer {
    background-color: #30353b;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: -100px;
    clear: both;
}
/*
----------------------------------------------------------------------------------------------------------------------------------------------------- 
Footer Closed 
----------------------------------------------------------------------------------------------------------------------------------------------------- 
*/
:root {
    --eye-size:8rem;
    --eye-gap:7rem;
    --eye-color:white;
    --background:#30353b;
    --user-button-main:#D770AD;
  }
  
  footer {
    perspective: 25rem;
    overflow: hidden;
    place-items: center;
  }
  footer .face-container {
    width: 100vw;
    min-height: 50vh;
    display: grid;
    place-items: center;
    background: var(--background);
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(-5%);
    }
    50% {
      transform: translateY(5%);
    }
  }
  footer .face {
    --left-lower-rotation:0deg;
    --left-lower-position:0%;
    --left-upper-rotation:0deg;
    --left-upper-position:0%;
    --right-lower-rotation:0deg;
    --right-lower-position:0%;
    --right-upper-rotation:0deg;
    --right-upper-position:0%;
    --face-rotation-x:0deg;
    --face-rotation-y:0deg;
    --face-rotation-z:0deg;
    display: grid;
    grid-template-columns: var(--eye-size) var(--eye-gap) var(--eye-size);
    grid-template-rows: var(--eye-size);
    grid-template-areas: "left . right";
    filter: blur(0.25rem) contrast(8);
    transform: translateZ(4rem) rotateX(var(--face-rotation-x)) rotateY(var(--face-rotation-y)) rotateZ(var(--face-rotation-z));
    transition: 0.75s cubic-bezier(0.25, 0.5, 0.5, 1);
    mix-blend-mode: lighten;
  }
  footer .face .eye {
    position: relative;
    background: white;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 1rem black;
  }
  footer .face .eye, footer .face .eye * {
    transition: 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  }
  footer .face .eye > div {
    --rotation:0deg;
    --position:0%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotation));
  }
  footer .face .eye > div .lid {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
  }
  footer .face .eye > div.lower .lid {
    top: calc(100% - var(--position));
  }
  footer .face .eye > div.upper .lid {
    bottom: calc(100% - var(--position));
  }
  footer .face .eye.left {
    grid-area: left;
  }
  footer .face .eye.left .lower {
    --rotation:var(--left-lower-rotation);
    --position:var(--left-lower-position);
  }
  footer .face .eye.left .upper {
    --rotation:var(--left-upper-rotation);
    --position:var(--left-upper-position);
  }
  footer .face .eye.right {
    grid-area: right;
  }
  footer .face .eye.right .lower {
    --rotation:var(--right-lower-rotation);
    --position:var(--right-lower-position);
  }
  footer .face .eye.right .upper {
    --rotation:var(--right-upper-rotation);
    --position:var(--right-upper-position);
  }
  p3, p4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 15px 0.5%;
    color: #888;
}
p3 {
    float:left;
}
p4 {
    float:right;
}

/*---------------------------------------]
terminal
------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);


.header-terminal {
    background: linear-gradient(#1f1f1f , #27292c);
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 0 0;
    position: relative;
    border-bottom: 2px solid;
    border-color: black;
    padding: 10px;
}

.dot {
    position: absolute;
    top: 35%;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    display: inline-block;
}

.red {
    margin-left: 10px;
    background: #fc625d;
}

.yellow {
    margin-left: 30px;
    background: #fdbc40;
}

.green {
    margin-left: 50px;
    background: #33c748;
}

.panel {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 65vh;
    background: #27292c;
    padding-top: 0px;
    overflow-y: scroll;
    margin: 0px;
}

.action {
    margin-bottom: 10px;
}

.command {
    width: 100%;
    height: 20px;
    background: #27292c;
    color: #c86762;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
}

input[type="text"] {
    width: 90%;
    background: #27292c;
    border: none;
    outline: none;
    color: white;
    margin-left: 5px;
    font-size: 16px;
}

.output {
    color: white;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 12px;
}
/*-------------------------
